@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}
.transition-transform {
  transition: transform 0.5s ease;
}

.scale-105 {
  transform: scale(1.05);
}

.translate-x-full {
  transform: translateX(100%);
}